<!DOCTYPE html>
<html>
<head>
    <title>RTO Application</title>
</head>
<body>
    <h2>RTO Application Form</h2>
    <form id="form" action="/rto" method="POST">
        <label>RTO Register Vehicle No.</label>
        <input type="text" name="registerNo" id="registerNo"> <br><br>
        <label>First Name</label>
        <input type="text" name="firstname" id="fname"> <br> <br>
        <label>Last Name</label>
        <input type="text" name="lastName" id="lname"> <br> <br>
        <label>Age</label>
        <input type="number" name="age" id="age"> <br> <br>
        <label>Model Name</label>
        <input type="text" name="modelName" id="mname"> <br> <br>
        <label>Model Year</label>
        <input type="number" name="modelYear" id="myear"> <br> <br>
        <label>Manufactured Date</label>
        <input type="date" name="manufacturedDate" id="mdate"> <br> <br>
        <input type="submit" value="submit">
    </form>
    <script src="script.js"></script>
</body>
</html>
